h1 {
    font-size: 3em;
}
h2 {
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}
.menu-bar > img {
    margin: 10px;
    width: 50px;
}
.card > img {
    width: 100px;
}
.menu-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main {
    color: white;
    background-color: rgb(39, 39, 52);
}
.text-container {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    width: 50%;
    margin: 20px;
    padding: 20px;
}
.description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.card {
    width: 200px;
}
.card > p {
    color: gray;
}
button {
    border-style: none;
    background-color: white;
    padding: 10px;
    margin: 10px;
}